{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Summary</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Exchange Rate (KRW->USD)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ₩ {{ main_data.exch_rate }}<div class="text-xs font-weight-bold text-{{ main_data.exch_rate_color }}">{{ main_data.exch_rate_change }} ({{ main_data.exch_rate_change_percent }})</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">S&P 500
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ main_data.snp500 }}<div class="text-xs font-weight-bold text-{{ main_data.snp500_color }}">{{ main_data.snp500_change }} ({{ main_data.snp500_change_percent }})</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Nasdaq
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ main_data.nasdaq }}<div class="text-xs font-weight-bold text-{{ main_data.nasdaq_color }}">{{ main_data.nasdaq_change }} ({{ main_data.nasdaq_change_percent }})</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Bitcoin (USD)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                $ {{ main_data.bitcoin }}<div class="text-xs font-weight-bold text-{{ main_data.bitcoin_color }}">{{ main_data.bitcoin_change }} ({{ main_data.bitcoin_change_percent }})</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-coins fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tech Stock 18</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                            <tr>
                                <th class="text-center">No</th>
                                <th class="text-center">Symbol</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Change(%)</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if tech_list %}
                            {% for tech_data in tech_list %}
                            <tr class="text-center">
                                <td>{{ tech_data.no }}</td>
                                <td>{{ tech_data.symbol }}</td>
                                <td>{{ tech_data.name }}</td>
                                <td>{{ tech_data.price }}</td>
                                {% if "-" in tech_data.change %}
                                <td><div class="text-danger">{{ tech_data.change }} ({{ tech_data.change_percent }})</div></td>
                                {% elif "+" in tech_data.change %}
                                <td><div class="text-success">{{ tech_data.change }} ({{ tech_data.change_percent }})</div></td>
                                {% else %}
                                <td>{{ tech_data.change }} ({{ tech_data.change_percent }})</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">데이터가 없습니다.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="stock_area" class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ symbol }}</h1>
        <div class="dropdown d-none d-sm-inline-block">
            <button class="btn btn-primary dropdown-toggle" type="button"
                name="target_action" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Select Symbol
            </button>
            <div class="dropdown-menu animated--fade-in"
                aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" onclick="setDefaultData('TSLA');">TSLA</a>
                <a class="dropdown-item" href="#" onclick="setDefaultData('AAPL');">AAPL</a>
                <a class="dropdown-item" href="#" onclick="setDefaultData('PLTR');">PLTR</a>
                <a class="dropdown-item" href="#" onclick="setDefaultData('AMZN');">AMZN</a>
                <a class="dropdown-item" href="#" onclick="setDefaultData('GOOG');">GOOG</a>
                <a class="dropdown-item" href="#" onclick="setDefaultData('CPNG');">CPNG</a>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Stock Price Trend (30-Day)</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">EPS Trend (4-Quarter)</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Stock Details</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th class="small font-weight-bold" style="width: 10%;">Ticker</th>
                                <td class="small" style="width: 15%;">{{ main_data.ticker }}</td>
                                <th class="small font-weight-bold" style="width: 10%;">Name</th>
                                <td class="small" style="width: 15%;">{{ main_data.ticker_name }}</td>
                                <th class="small font-weight-bold" style="width: 10%;">P/E</th>
                                <td class="small" style="width: 15%;">{{ main_data.per }}</td>
                                <th class="small font-weight-bold" style="width: 10%;">Forward P/E</th>
                                <td class="small" style="width: 15%;">{{ main_data.forward_per }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">Market Cap</th>
                                <td class="small">{{ main_data.market_cap }}</td>
                                <th class="small font-weight-bold">Earnings</th>
                                <td class="small">{{ main_data.earnings }}</td>
                                <th class="small font-weight-bold">EPS (ttm)</th>
                                <td class="small">{{ main_data.eps_ttm }}</td>
                                <th class="small font-weight-bold">EPS next Y</th>
                                <td class="small">{{ main_data.eps_next_yr }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">PEG</th>
                                <td class="small">{{ main_data.peg }}</td>
                                <th class="small font-weight-bold">P/S</th>
                                <td class="small">{{ main_data.psr }}</td>
                                <th class="small font-weight-bold">P/B</th>
                                <td class="small">{{ main_data.pbr }}</td>
                                <th class="small font-weight-bold">ROE</th>
                                <td class="small">{{ main_data.roe }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">Gross Margin</th>
                                <td class="small">{{ main_data.gr_margin }}</td>
                                <th class="small font-weight-bold">Oper.Margin</th>
                                <td class="small">{{ main_data.op_margin }}</td>
                                <th class="small font-weight-bold">Profit Margin</th>
                                <td class="small">{{ main_data.pf_margin }}</td>
                                <th class="small font-weight-bold">ROI</th>
                                <td class="small">{{ main_data.roi }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">Short Float</th>
                                <td class="small">{{ main_data.short_float }}</td>
                                <th class="small font-weight-bold">RSI(14)</th>
                                <td class="small">{{ main_data.rsi14 }}</td>
                                <th class="small font-weight-bold">Beta</th>
                                <td class="small">{{ main_data.beta }}</td>
                                <th class="small font-weight-bold">Target Price</th>
                                <td class="small">{{ main_data.pt }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <form id="searchForm" method="get" action="{% url 'common:main' %}">
        <input type="hidden" id="symbol" name="symbol" value="{{ symbol }}">
    </form>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<script type='text/javascript'>
{% if anchor %}
$(document).ready(function(){
    window.location = '#{{ anchor }}'
});
{% endif %}

// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ hist_label_list | safe }},
    datasets: [{
      label: "Price",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{ hist_data_list | safe }}
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return '$' + number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});

// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// Bar Chart Example
var ctx = document.getElementById("myBarChart");
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: {{ earn_label_list | safe }},
    datasets: [{
      label: "EPS Actual",
      backgroundColor: "#f6c23e",
      hoverBackgroundColor: "#daa93e",
      borderColor: "#f6c23e",
      data: {{ earn_act_data_list | safe }},
    },
    {
      label: "EPS Est.",
      backgroundColor: "#e74a3b",
      hoverBackgroundColor: "#c04232",
      borderColor: "#e74a3b",
      data: {{ earn_est_data_list | safe }},
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return '$ ' + value;
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': $ ' + tooltipItem.yLabel;
        }
      }
    },
  }
});

function setDefaultData(symbol) {
    document.getElementById("symbol").value = symbol;
    document.getElementById("searchForm").submit();
}
</script>
{% endblock %}