{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Summary</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Exchange Rate (KRW->USD)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ₩ {{ main_data.exch_rate }}<div class="text-xs font-weight-bold text-{{ main_data.exch_rate_color }}">{{ main_data.exch_rate_change }} ({{ main_data.exch_rate_change_percent }})</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">S&P 500
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ main_data.snp500 }}<div class="text-xs font-weight-bold text-{{ main_data.snp500_color }}">{{ main_data.snp500_change }} ({{ main_data.snp500_change_percent }})</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Nasdaq
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ main_data.nasdaq }}<div class="text-xs font-weight-bold text-{{ main_data.nasdaq_color }}">{{ main_data.nasdaq_change }} ({{ main_data.nasdaq_change_percent }})</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Bitcoin (USD)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                $ {{ main_data.bitcoin }}<div class="text-xs font-weight-bold text-{{ main_data.bitcoin_color }}">{{ main_data.bitcoin_change }} ({{ main_data.bitcoin_change_percent }})</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-coins fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#techStockCard" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="techStockCard">
            <h6 class="m-0 font-weight-bold text-primary">Tech Stock 18</h6>
        </a>
        <div class="collapse show" id="techStockCard">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                            <tr>
                                <th class="text-center">No</th>
                                <th class="text-center">Symbol</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Change(%)</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if tech_list %}
                            {% for tech_data in tech_list %}
                            <tr class="text-center">
                                <td>{{ tech_data.no }}</td>
                                <td>{{ tech_data.symbol }}</td>
                                <td>{{ tech_data.name }}</td>
                                <td>{{ tech_data.price }}</td>
                                {% if "-" in tech_data.change %}
                                <td><div class="text-danger">{{ tech_data.change }} ({{ tech_data.change_percent }})</div></td>
                                {% elif "+" in tech_data.change %}
                                <td><div class="text-success">{{ tech_data.change }} ({{ tech_data.change_percent }})</div></td>
                                {% else %}
                                <td>{{ tech_data.change }} ({{ tech_data.change_percent }})</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">데이터가 없습니다.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
{% endblock %}