{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="subNav">
    <div class="container">
        <a href="{% if menu_type == 'index' %}#page-top{% else %}{% url 'index' %}{% endif %}"><img src="{% static 'assets/img/navbar-logo.png' %}" width="200" alt="..."/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% if menu_type == 'index' %}#about{% else %}{% url 'common:index_anchor' 'about' %}{% endif %}">ABOUT</a></li>
                <li class="nav-item"><a class="nav-link" href="{% if menu_type == 'index' %}#story{% else %}{% url 'common:index_anchor' 'story' %}{% endif %}">STORY</a></li>
                <li class="nav-item"><a class="nav-link" href="{% if menu_type == 'index' %}#team{% else %}{% url 'common:index_anchor' 'team' %}{% endif %}">FAMILY</a></li>
                <li class="nav-item"><a class="nav-link" href="{% if menu_type == 'index' %}#contact{% else %}{% url 'common:index_anchor' 'contact' %}{% endif %}">CONTACT</a></li>
                <li class="nav-item"><a class="nav-link {% if request.session.target_nav_item == 'bbs' %}active{% endif %}" href="{% url 'board:list' 'BBS' %}">BBS</a></li>
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link {% if request.session.target_nav_item == 'investment' %}active{% endif %}" href="{% url 'investment:dashboard' %}">Investment</a></li>
                {% endif %}
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    COMMUNITY
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'board:list' 'BBS' %}">BBS</a></li>
                        <li><a class="dropdown-item" href="#">BLOG</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
