{% extends 'common/base.html' %}
{% load board_filter %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Boards</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ group_name }}</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="boardTable">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;">번호</th>
                            <th class="text-center" style="width: 50px;">추천</th>
                            <th class="text-center">제목</th>
                            <th class="text-center" style="width: 100px;">글쓴이</th>
                            <th class="text-center" style="width: 50px;">조회</th>
                            <th class="text-center" style="width: 200px;">작성일시</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if board_list %}
                        {% for board in board_list %}
                        <tr class="text-center">
                            <td>
                                {{ board_list.paginator.count|sub:board_list.start_index|sub:forloop.counter0|add:1 }}
                            </td>
                            <td>
                                {% if board.voter.all.count > 0 %}
                                <span class="badge badge-warning px-2 py-1">{{ board.voter.all.count }}</span>
                                {% endif %}
                            </td>
                            <td class="text-left">
                                <a href="{% url 'board:detail' board.id %}">{{ board.subject }}</a>
                                {% if board.reply_set.count > 0 %}
                                <span class="text-danger small ml-2">{{ board.reply_set.count }}</span>
                                {% endif %}
                            </td>
                            <td>{{ board.author.username }}</td>
                            <td>{{ board.hit_count }}</td>
                            <td>{{ board.create_date }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="6" class="text-center">There are no registered posts.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            {% if request.user.is_authenticated %}
            <a href="{% url 'board:board_create' group %}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">작성</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<script type='text/javascript'>
$(document).ready(function () {
    $('#boardTable').DataTable();
});
</script>

{% endblock %}