{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Calendar</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ month_text }} {{ year }}</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="calendar_header">
                            <th class="text-center">Mon.</th>
                            <th class="text-center">Tue.</th>
                            <th class="text-center">Wed.</th>
                            <th class="text-center">Thu.</th>
                            <th class="text-center">Fri.</th>
                            <th class="text-center">Sat.</th>
                            <th class="text-center text-danger">Sun.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in cal_data %}
                        <tr>
                            {% for day, color in week %}
                                <td {% if day == today.day %} style="background-color: rgb(252 241 202);" {% endif %}>
                                {% if day %}
                                    <div class="d-flex justify-content-between">
                                        <div class="small text-left {{ color }}" >{{ day }}</div>
                                        <a href="{% url 'invest:note_create_calendar'  %}" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-pen-square"></i>
                                        </a>
                                    </div>
                                    <div class="mb-4 py-3">
                                        {% if day <= today.day %}
                                        <!--<div class="count">{{ count }}개</div>-->

                                        {% endif %}
                                    </div>
                                {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button class="previous btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
            </button>
            <button class="next btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </button>
        </div>
    </div>
    <form id="searchForm" method="get" action="{% url 'invest:calendar' %}">
        <input type="hidden" id="year" name="year" value="{{ year }}">
        <input type="hidden" id="month" name="month" value="{{ month }}">
        <input type="hidden" id="mode" name="mode">
    </form>
</div>

<script type='text/javascript'>
const previous_elements = document.getElementsByClassName("previous");
Array.from(previous_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById("mode").value = "prev";
        document.getElementById("searchForm").submit();
    });
});
const next_elements = document.getElementsByClassName("next");
Array.from(next_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById("mode").value = "next";
        document.getElementById("searchForm").submit();
    });
});
</script>

{% endblock %}