{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Note</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ tgt_header_text }}</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="noteTable">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 20px;">No</th>
                            {% if tgt_type == "MM" %}
                            <th class="text-center" style="width: 150px;">Subject</th>
                            <th class="text-center" style="width: 80px;">Ticker</th>
                            <th class="text-center">Content</th>
                            {% else %}
                            <th class="text-center" style="width: 50px;">State</th>
                            <th class="text-center" style="width: 80px;">Ticker</th>
                            <th class="text-center" style="width: 80px;">Price</th>
                            <th class="text-center" style="width: 70px;">Quantity</th>
                            <th class="text-center">Subject</th>
                            {% endif %}
                            <th class="text-center" style="width: 150px;">Author</th>
                            <th class="text-center" style="width: 200px;">Create Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if note_list %}
                        {% for note in note_list %}
                        <tr class="text-center">
                            <td>{{ note.row_number }}</td>
                            {% if tgt_type == "MM" %}
                            <td class="text-left"><a href="{% url 'invest:note_detail_calendar' note.id %}">{{ note.subject }}</a></td>
                            <td>{{ note.ticker }}</td>
                            <td class="text-left">{{ note.content }}</td>
                            {% else %}
                            <td><span class="badge badge-{% if note.state == 'BY' %}success{% else %}danger{% endif %} px-2 py-1">{{ note.get_state_display }}<span</td>
                            <td>{{ note.ticker }}</td>
                            <td class="text-right">{{ note.price }}</td>
                            <td class="text-right">{{ note.quantity }}</td>
                            <td class="text-left"><a href="{% url 'invest:note_detail_calendar' note.id %}">{{ note.subject }}</a></td>
                            {% endif %}
                            <td>{{ note.author.username }}</td>
                            <td>{{ note.create_date }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan='{% if tgt_type == 'MM' %}5{% else %}8{% endif %}" class="text-center">There are no registered posts.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
$(document).ready(function () {
    $('#noteTable').DataTable();
});
</script>

{% endblock %}