{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">{{ month_text }} {{ year }}</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Note 작성</h6>
        </div>
        <form id="mainForm" method="post">
            <div class="card-body">
                {% csrf_token %}
                <!-- 오류표시 Start -->
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                <!-- 오류표시 End -->
                <div class="form-group">
                    <div class="form-group">
                        <label for="record_date">Date</label>
                        <input type="date" class="form-control col-md-2" name="record_date" id="record_date" value="{{ display_date|date:'Y-m-d' }}" readonly>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="type">Type</label>
                            <select class="form-control" name="type" id="type" onchange="changeType(this)" {% if note != None %} disabled {% endif %}>
                                {% for v, k in form.fields.type.choices %}
                                    <option value="{{ v }}" {% if form.type.value == v %} selected {% endif %}>{{ k }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="stateGroup" class="form-group col-md-2" hidden="true">
                            <label for="state">State</label>
                            <select class="form-control" name="state" id="state">
                                {% for v, k in form.fields.state.choices %}
                                    <option value="{{ v }}" {% if form.state.value == v %} selected {% endif %}>{{ k }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="tickerGroup" class="form-group col-md-2">
                            <label for="ticker">Ticker</label>
                            <input type="text" class="form-control" name="ticker" id="ticker"
                                   value="{{ form.ticker.value|default_if_none:'' }}"
                                   placeholder="AAPL">
                        </div>
                        <div id="priceGroup" class="form-group col-md-3" hidden="true">
                            <label for="price">Price</label>
                            <input type="number" class="form-control text-right" name="price" id="price"
                                   value="{{ form.price.value|default_if_none:'' }}"
                                   min="0" step="0.01"
                                   placeholder="0.00"
                                   pattern="^\d+(?:\.\d{1,2})?$">
                        </div>
                        <div id="quantityGroup" class="form-group col-md-3" hidden="true">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control text-right" name="quantity" id="quantity"
                                   value="{{ form.quantity.value|default_if_none:'' }}"
                                   min="0" step="0.01"
                                   placeholder="0.00"
                                   pattern="^\d+(?:\.\d{1,2})?$">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject"
                           value="{{ form.subject.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" name="content"
                              id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
                    <script>
                        var simplemde = new SimpleMDE({ element: document.getElementById("content") });
                    </script>
                </div>

            </div>
            <div class="card-footer d-flex justify-content-between">
                <a class="btn btn-primary btn-icon-split" onClick="history.go(-1)">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Prev</span>
                </a>
                <div class="d-flex justify-content-end">
                    <a class="submit-btn btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-save"></i>
                        </span>
                        <span class="text">Save</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
    {% if stock_data %}
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#stockDetailCard" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="stockDetailCard">
            <h6 class="m-0 font-weight-bold text-primary">{{ stock_data.ticker_name }}</h6>
        </a>

        <div class="collapse show" id="stockDetailCard">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th class="small font-weight-bold" style="width: 10%;">Ticker</th>
                                <td class="small" style="width: 15%;">{{ stock_data.ticker }}</td>
                                <th class="small font-weight-bold" style="width: 10%;">Price</th>
                                <td class="small" style="width: 15%;">{{ stock_data.price }} ({{ stock_data.change }})</td>
                                <th class="small font-weight-bold" style="width: 10%;">P/E</th>
                                <td class="small" style="width: 15%;">{{ stock_data.per }}</td>
                                <th class="small font-weight-bold" style="width: 10%;">Forward P/E</th>
                                <td class="small" style="width: 15%;">{{ stock_data.forward_per }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">Market Cap</th>
                                <td class="small">{{ stock_data.market_cap }}</td>
                                <th class="small font-weight-bold">Earnings</th>
                                <td class="small">{{ stock_data.earnings }}</td>
                                <th class="small font-weight-bold">EPS (ttm)</th>
                                <td class="small">{{ stock_data.eps_ttm }}</td>
                                <th class="small font-weight-bold">EPS next Y</th>
                                <td class="small">{{ stock_data.eps_next_yr }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">PEG</th>
                                <td class="small">{{ stock_data.peg }}</td>
                                <th class="small font-weight-bold">P/S</th>
                                <td class="small">{{ stock_data.psr }}</td>
                                <th class="small font-weight-bold">P/B</th>
                                <td class="small">{{ stock_data.pbr }}</td>
                                <th class="small font-weight-bold">ROE</th>
                                <td class="small">{{ stock_data.roe }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">Gross Margin</th>
                                <td class="small">{{ stock_data.gr_margin }}</td>
                                <th class="small font-weight-bold">Oper.Margin</th>
                                <td class="small">{{ stock_data.op_margin }}</td>
                                <th class="small font-weight-bold">Profit Margin</th>
                                <td class="small">{{ stock_data.pf_margin }}</td>
                                <th class="small font-weight-bold">ROI</th>
                                <td class="small">{{ stock_data.roi }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">Short Float</th>
                                <td class="small">{{ stock_data.short_float }}</td>
                                <th class="small font-weight-bold">RSI(14)</th>
                                <td class="small">{{ stock_data.rsi14 }}</td>
                                <th class="small font-weight-bold">Beta</th>
                                <td class="small">{{ stock_data.beta }}</td>
                                <th class="small font-weight-bold">Target Price</th>
                                <td class="small">{{ stock_data.pt }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script type='text/javascript'>
document.addEventListener("DOMContentLoaded", function(){
    var type = document.getElementById("type");
    var stateGroup = document.getElementById("stateGroup");
    var tickerGroup = document.getElementById("tickerGroup");
    var priceGroup = document.getElementById("priceGroup");
    var quantityGroup = document.getElementById("quantityGroup");

    if(type.options[type.selectedIndex].value == "TD") {
        stateGroup.hidden = false;
        priceGroup.hidden = false;
        quantityGroup.hidden = false;
    } else {
        stateGroup.hidden = true;
        priceGroup.hidden = true;
        quantityGroup.hidden = true;

        document.getElementById("state").selectedIndex = 0;
        document.getElementById("price").value = "0";
        document.getElementById("quantity").value = "0";
    }
});

const submit_btn_elements = document.getElementsByClassName("submit-btn");
Array.from(submit_btn_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        {% if note != None %}
        document.getElementById('type').disabled = false;
        {% endif %}
        document.getElementById('mainForm').submit();
    });
});

function changeType(target) {
    var stateGroup = document.getElementById("stateGroup");
    var tickerGroup = document.getElementById("tickerGroup");
    var priceGroup = document.getElementById("priceGroup");
    var quantityGroup = document.getElementById("quantityGroup");

    if(target.options[target.selectedIndex].value == "TD") {
        stateGroup.hidden = false;
        priceGroup.hidden = false;
        quantityGroup.hidden = false;
    } else {
        stateGroup.hidden = true;
        priceGroup.hidden = true;
        quantityGroup.hidden = true;

        document.getElementById("state").selectedIndex = 0;
        document.getElementById("price").value = "0";
        document.getElementById("quantity").value = "0";
    }
}

</script>
{% endblock %}