{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <div id="stock_area" class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Portfolio</h1>
    </div>

    <!-- Area Chart -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Top Stock 10</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <canvas id="portfolioChart"></canvas>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="portfolioTable">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th class="text-center">Ticker</th>
                                    <th class="text-center">Avg Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Return</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if portfolio_list %}
                                {% for portfolio_data in portfolio_list %}
                                <tr class="text-center">
                                    <td>{{ portfolio_data.no }}</td>
                                    <td><a href="#" onclick="setDefaultData('{{ portfolio_data.ticker }}');">{{ portfolio_data.ticker }}</a></td>
                                    <td>{{ portfolio_data.price }}</td>
                                    <td>{{ portfolio_data.quantity }}</td>
                                    <td>{{ portfolio_data.amount }}</td>
                                    <td class="text-{{ portfolio_data.return_style }}">{{ portfolio_data.return_amount }} ({{ portfolio_data.return_rate }}%)</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="6" class="text-center">데이터가 없습니다.</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#stockDetailCard" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="stockDetailCard">
            <h6 class="m-0 font-weight-bold text-primary">Stock Details</h6>
        </a>

        <div class="collapse show" id="stockDetailCard">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th class="small font-weight-bold" style="width: 10%;">Ticker</th>
                                <td class="small" style="width: 15%;">{{ main_data.ticker }}</td>
                                <th class="small font-weight-bold" style="width: 10%;">Price</th>
                                <td class="small" style="width: 15%;"><div class="{% if '-' in main_data.change %}text-danger{% else %}text-success{% endif %}">{{ main_data.price }} ({{ main_data.change }})</div></td>
                                <th class="small font-weight-bold" style="width: 10%;">P/E</th>
                                <td class="small" style="width: 15%;">{{ main_data.per }}</td>
                                <th class="small font-weight-bold" style="width: 10%;">Forward P/E</th>
                                <td class="small" style="width: 15%;">{{ main_data.forward_per }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">Market Cap</th>
                                <td class="small">{{ main_data.market_cap }}</td>
                                <th class="small font-weight-bold">Earnings</th>
                                <td class="small">{{ main_data.earnings }}</td>
                                <th class="small font-weight-bold">EPS (ttm)</th>
                                <td class="small">{{ main_data.eps_ttm }}</td>
                                <th class="small font-weight-bold">EPS next Y</th>
                                <td class="small">{{ main_data.eps_next_yr }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">PEG</th>
                                <td class="small">{{ main_data.peg }}</td>
                                <th class="small font-weight-bold">P/S</th>
                                <td class="small">{{ main_data.psr }}</td>
                                <th class="small font-weight-bold">P/B</th>
                                <td class="small">{{ main_data.pbr }}</td>
                                <th class="small font-weight-bold">ROE</th>
                                <td class="small">{{ main_data.roe }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">EPS Y/Y TTM</th>
                                <td class="small">{{ main_data.eps_yoy_ttm }}</td>
                                <th class="small font-weight-bold">Sales Y/Y TTM</th>
                                <td class="small">{{ main_data.sale_yoy_ttm }}</td>
                                <th class="small font-weight-bold">EPS Q/Q</th>
                                <td class="small">{{ main_data.eps_qoq }}</td>
                                <th class="small font-weight-bold">Sales Q/Q</th>
                                <td class="small">{{ main_data.sale_qoq }}</td>
                            </tr>
                            <tr>
                                <th class="small font-weight-bold">Short Float</th>
                                <td class="small">{{ main_data.short_float }}</td>
                                <th class="small font-weight-bold">RSI(14)</th>
                                <td class="small">{{ main_data.rsi14 }}</td>
                                <th class="small font-weight-bold">Beta</th>
                                <td class="small">{{ main_data.beta }}</td>
                                <th class="small font-weight-bold">Target Price</th>
                                <td class="small">{{ main_data.pt }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#techStockCard" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="techStockCard">
            <h6 class="m-0 font-weight-bold text-primary">Rating</h6>
        </a>
        <div class="collapse show" id="techStockCard">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="stockTable">
                        <thead>
                            <tr>
                                <th class="text-center">No</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Action</th>
                                <th class="text-center">Analyst</th>
                                <th class="text-center">Rating Change</th>
                                <th class="text-center">Price Target Change</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if rating_list %}
                            {% for rating_data in rating_list %}
                            <tr class="text-center">
                                <td>{{ rating_data.no }}</td>
                                <td>{{ rating_data.date }}</td>
                                <td><span class="badge badge-{% if rating_data.action == 'Upgrade' %}success{% elif rating_data.action == 'Downgrade' %}danger{% else %}secondary{% endif %} px-2 py-1">{{ rating_data.action }}</span></td>
                                <td>{{ rating_data.analyst }}</td>
                                <td>{{ rating_data.rating_change }}</td>
                                <td>{{ rating_data.price_target_change }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">데이터가 없습니다.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <form id="searchForm" method="get" action="{% url 'invest:portfolio_detail' %}">
        <input type="hidden" id="ticker" name="ticker" value="{{ ticker }}">
    </form>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<script type='text/javascript'>
$(document).ready(function () {
    $('#portfolioTable').DataTable({
        "paging": false,
        "searching": false,
        "ordering": true,
        "info": false,
        "scrollCollapse": true,
        "scrollY": '245px'
    });

    $('#stockTable').DataTable();
});

// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
    number = (number + '').replace(',', '').replace(' ', '');
    var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
        s = '',
        toFixedFix = function(n, prec) {
            var k = Math.pow(10, prec);
            return '' + Math.round(n * k) / k;
        };
    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
    if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
    }
    if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
    }
    return s.join(dec);
}

// Pie Chart Example
var ctx = document.getElementById("portfolioChart");
var portfolioChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: {{ portfolio_label_list | safe }},
        datasets: [{
            data:    {{ portfolio_data_list | safe }},
            backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b'],
            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#f4b619', '#e02d1b'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
    },
    options: {
        maintainAspectRatio: false,
        tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            caretPadding: 10,
            callbacks: {
                label: function(tooltipItem, data) {
                    var dataLabel = data.labels[tooltipItem.index];
                    var value = ': $ ' + number_format(data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]);

                    return dataLabel + value;
                }
            }
        },
        legend: {
            position: 'right',
            display: true
        },
        cutoutPercentage: 80,
    },
});

function setDefaultData(ticker) {
    document.getElementById("ticker").value = ticker;
    document.getElementById("searchForm").submit();
}
</script>
{% endblock %}